<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
</head>
<body>
    <!-- Template : testdjango.html -->
<form methode='GET'>  
 <input type='text' name='search' placeholder='entre que voulez rechercher'>
 <button type='submit'>confirmer</button>
</form> 
<h4> Liste des employés </h4>

{% if employes %}
<table border='1'>
    <thead>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Date de naissance</td>
            <td>Adresse</td>
            <td>Date d'embauche</td>
            <td>Email</td>
            <td>Service</td>
        </tr>
    </thead>
    <tbody>
    {% for x in employes %}
    <tr>
        <td>{{ x.nom }}</td>
        <td>{{ x.prenom }}</td>
        <td>{{ x.date_naissance }}</td>
        <td>{{ x.adresse }}</td>
        <td>{{ x.date_embauche }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.service }}</td>
        <td><a href="{% url 'editemp' x.id %}">Modifier</a></td>
        <td><a href="{% url 'delemp' x.id %}">Supprimer</a></td> 
    </tr>
    {% endfor %}
    </tbody>
</table>
{% elif message %}
    <p>{{ message }}</p>
{% endif %}
<a href="{% url 'addemp' %}">Ajouter un employé</a>


</body>
</html>
