<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succès</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 text-center">
    <h2>Votre candidature a été soumise avec succès !</h2>
    <a href="{% url 'candidat_create' %}" class="btn btn-success mt-3">Soumettre une autre candidature</a>
</div>
</body>
</html>
